/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  margin: auto;
}

body {
  transition: .5s;
  /* font-family: 'Roboto', sans-serif; */
}

:root {
  --main-color: rgb(0, 188, 212);
  --s-color: rgb(73, 27, 177);
}

::selection {
  color: var(--main-color);
  background: var(--s-color);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End Global Rules */
/* Start Header */
.header {
  position: fixed;
  height: 45px;
  background: var(--s-color);
  width: 100%;
  padding: 10px 2px;
  color: #fff;
  top: 0;
  z-index: 99;
  border-bottom: 2px solid #fff;
}

.header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.header .container h1 {
  margin: 10px 0;
  position: relative;
}

.header .container h1 sub {
  position: absolute;
  right: -15px;
  top: 0;
  color: var(--main-color);
  transform-origin: center top;
  font-size: 20px;
  margin: 0;
  transform: rotateZ(50deg)translateX(70%);
}

.header .container .menu {
  background: #fff;
  padding: 5px 10px;
  font-size: 20px;
  color: var(--main-color);
}

.header .container .join a {
  padding: 5px;
  border: 1px solid #fff;
  font-weight: bold;
  margin-left: 5px;
}

.header .container .join a:last-child {
  background: var(--main-color);
}

.menu ul {
  position: absolute;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  list-style: none;
  top: 60px;
  border: 2px solid var(--main-color);
  background: var(--s-color);
  color: #fff;
  padding: 10px;
  display: none;
}

.menu ul li a {
  display: block;
  padding: 5px;
  font-weight: bold;
}

.menu ul li a:hover {
  color: var(--main-color);

}

.menu:hover ul {
  display: block;
}

/* End Header */
/* Start Landing */
.landing {
  padding: 300px 20px;
  background: url("../imgs/banner-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.landing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  ;
}

form input {
  border: none;
}

form input:focus {
  outline: none
}

.landing .container form [type=search] {
  height: 50px;
  width: 100%;
  padding: 10px;
  display: block;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  margin: 15px auto;
  color: var(--main-color);
}

.landing .container form [type=search]::placeholder {
  color: #fff;
  font-weight: bold;
  transition: .3s;
}

.landing .container form [type=search]:focus::placeholder {
  padding-left: 15px;
}

.landing .container form [type=submit] {
  background: var(--main-color);
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 30px auto;
  border-radius: 2rem;
}

.landing .container form .plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.landing .container form .plan label {
  width: calc(90% /2);
  padding: 10px 0;
}

.landing .container form .plan label input {
  margin-right: 3px;
}

.landing .container form .plan label span {
  font-style: italic;

}

/* End Landing */
/* Start Logo */
.logo {
  background: #e6e6e6;
  padding: 30px 2px;
  text-align: center;
}


.logo img {
  margin-top: 15px;
}

/* End Logo */
/* Start Service */
.service {
  padding: 100px 10px;
}

.service .container p:first-child {
  color: var(--main-color);
}

.service .container p:last-child {
  color: gray;
  line-height: 1.8;
}

.service .container .services {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.service .container .services .serv {
  background: #eee;
  border-radius: 15px;
  text-align: center;
  padding: 55px 15px;
  position: relative;
  overflow: hidden;
}

.service .container .services .serv .info i {
  background: var(--main-color);
  padding: 30px 32px;
  color: #fff;
  border-radius: 100%;
  font-size: 40px;
}

.service .container .services .serv .info h2 {
  margin: 25px auto;
  color: var(--s-color);
}

.service .container .services .serv .info {
  position: relative;
}

.service .container .services .serv::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: .3s;
  background: var(--main-color);
  opacity: .1;
}

.service .container .services .serv:hover::before {
  height: 100%;
  width: 100%;
}

/* End Service */
/* Start Plans */
.plans header {
  text-align: center;
  background: url("../imgs/pricing-bg.jpg");
  padding: 100px 10px;
  padding-bottom: 200px;
  color: white;
}

.plans {
  position: relative;
  padding: 50px 0;
}

.plans .container {
  margin: auto;
  width: 100%;
}

.plans .container  {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 40px 30px;
  margin-top: -200px;
  justify-content: center;
  width: 100%;
}

.plans .container  .plan {
  background: #fff;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 50px 20px;
  height: 500px;
  line-height: 1.8;
  position: relative;
}

.plans .container .plan h3 {
  background: var(--main-color);
  margin: 15px auto;
  padding: 20px 35px;
  font-size: 30px;
  color: #fff;
  position: relative;
}

.plans .container .plan h3::before {
  content: "$";
}

.plans .container  .plan h3::after {
  content: "MONTHLY";
  font-size: 13px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15px;
  left: 0;
}

.plans .container  .plan>p {
  font-size: 13px;
}

.plans .container .plan .info {
  text-align: left;
  font-size: 16px;
  padding: 5px;
  border-top: 1px solid #eee;
}

.plans .container  .plan .info p {
  position: relative;
  padding-left: 15px;
  margin: 10px auto;
}

.plans .container  .plan .info p::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 5px;
  top: 15%;
  left: -5px;
  border: 4px solid var(--s-color);
  border-top: none;
  border-left: none;
  transform: rotateZ(45deg);
}

.plans .container  .plan a {
  padding: 10px;
  background: var(--main-color);
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  font-weight: bold;
  color: white;
  font-size: 20px;
}

/* End plans */
/* Start Features */
.features {
  padding: 50px 10px;
}

.features .container {
  text-align: center
}

.features .container>p {
  color: var(--main-color);
}

.features .container .feats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.features .container .feat {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, .2);
  border-radius: 1rem;
  align-items: center;
  text-align: left;

}

.features .container .feat img {
  height: 40%;
  width: 20%;
  ;
}

.features .container .feat div {
  width: 68%;
  line-height: 1.8;
}

.features .container .feat div p {
  color: gray;

}

/* End Features */
/* Start Testimonials */
.testimonials {
  padding: 100px 10px;
  background: #eee;
}

.testimonials .container {

  text-align: center;
  line-height: 1.8;
}

.testimonials .container p:first-child {
  color: var(--main-color);
  font-weight: bold;
}

.testimonials .container .test {
  display: flex;
  flex-flow: row nowrap;
  max-width: 500px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, .1);
  margin: auto;
}

.testimonials .container .test div {
  flex: none;
  height: 98%;
  width: 100%;
  margin: 10px;
  scroll-snap-align: center;
}

.testimonials .container .test div i {
  padding: 20px;
  background-image: linear-gradient(145deg,
      var(--s-color) 10%,
      var(--main-color) 100%);
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  margin: 30px auto;
}

.testimonials .container .test div p {
  font-size: 18px;
  color: gray;
  padding: 5px;
  font-style: italic;
}

.testimonials .container .test div p:last-child {
  color: var(--main-color);
  font-weight: bold;
  font-size: 15px;
}

.testimonials .container .test div h3 {
  margin: 20px auto;
}

/* Ent Testimonials */
/* Start footer */
footer {
  text-align: left;
  background: url("../imgs/footer-bg.jpg");
  background-size: cover;
  position: relative;
  padding: 10px;

}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
}

footer div:first-child p {
  text-align: left;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  background: #094EACE0;
}

footer div {
  padding: 30px 0;
  color: #fff;
  position: relative;
}

footer div p {
  font-size: 13px;
  line-height: 1.8;
}

footer div h2 {
  padding: 15px 5px;
}

footer div ul li {
  list-style: none;
  color: #ddd;
  padding: 10px 5px;
  transition: .3s;
}

footer div ul li:hover {
  color: darkgray;
  padding-left: 20px;
}

footer div ul li>span {
  color: #fff;
  font-weight: bold
}

footer hr {
  margin: 50px auto;
  width: 100%;
  display: block
}

footer p:last-child {
  color: #fff;
  text-align: center;
  position: relative;
  padding: 20px 5px;
}

footer p:last-child span {
  color: var(--main-color);
  font-weight: bold;
  font-style: italic;
}

.landing.About {
  padding: 150px 10px;
  background: url("../imgs/heading-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.landing.About h1{
font-size: 50px;
}
.landing.About ul li{
  list-style: none;
  font-weight: bold;
  display: inline-block;
}
.landing.About ul li:last-child{
  color: darkgray;;
}